@charset "UTF-8";
/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
}
canvas{
  display:block;
}
html {
  box-sizing: border-box;
}
body {
  font-family:  "游ゴシック Medium", "Yu Gothic", YuGothic, "メイリオ", Meiryo, sans-serif ,-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Verdana, Roboto;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
  color: #000;
  background: #ffffff;
}
a{
    color : inherit;
text-decoration : none;
}
ul {
  list-style: none;
  padding: 0;
}

header {
  /* position: fixed;*/
  width: 100%;
  height: 66px;
}
header nav {
  position: absolute;
  /*right: 0;*/
}
header ul {
  right: 0px;
  position: fixed;
  display: flex;
  margin: 0;
  padding: 30px;
}
header li {
  padding: 0 1rem;
}
header h1 {
  font-family: upgrade, sans-serif;
  font-size: 1.7rem;
  padding: 2vw 7.95vw;
  font-weight: 500;
  font-style: normal;
}


.contentWrapper {
  margin: 3vw;
  padding: 5vw;
}
.container {

}
.name {
    padding-top:100px;
    width: 400px;
    height: 340px;
    margin-left: 1vw;
    display: block;
	
    border: solid 0.1vw #ffffff;
    
  }
  .name :hover {
   
    border: solid 0.1vw #000000;
    transition: 1.0s;
  }
.name a {
    display: block;
    width: 100%;
    
    height: auto;
	 border: solid 0.1vw #ffffff;
  }
.name ul{
	display: block;
   
   
    height: 26vw;
   
}

.name h1 {
  padding-top: 2rem;
  font-style: normal;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: 0.2em;
}
.name p {
  width: 360px;
  word-wrap: break-word;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-style: normal;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.1em;
	
} 
  .name ul :hover{
	  border:none;
	  }
	  .name a :hover{
	  border:none;
	  }.name h2 :hover{
	  border:none;
	  }.name p :hover{
	  border:none;
	  }
 
.name p:hover {
    font-style: normal;
    border: none;
  }

@media screen and (min-width: 481px) {
	

  .item {
    widht: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item :hover {
    font-weight: bold;
    border: solid 0.1vw #000000;
    transition: 1.0s;
  }
  .item ul :hover {
    border: none;
  }
  .item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    height: 26vw;
    border: solid 0.1vw #ffffff;
  }
  .item img:hover {
    opacity: 0.7;
  }
  .item li {
    width: auto;
    height: 26vw;
  }
  .item h1 {
    width: 30vw;
    margin-top: 8vw;
    margin-left: 4vw;
    font-family: dnp-shuei-mincho-pr6n, sans-serif　, "游ゴシック Medium", "Yu Gothic", 
	    YuGothic, "メイリオ", Meiryo, sans-serif ;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6vw;
    line-height: 1.75;
    letter-spacing: 0.2vw;
  }
  .item h2 {
    font-size: 1.0vw;
    margin-top: 2.7vw;
    margin-left: 4vw;
    font-style: normal;
    line-height: 1.75;
    border-left: solid 0.2vw #9B9B9B;
  }
  .item p {
    font-size: 0.7vw;
    margin-left: 4vw;
    border-left: solid 0.2vw #9B9B9B;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .item h2:hover {
    border-left: solid 0.2vw #9B9B9B !important;
  }
  .item p:hover {
    font-weight: 400;
    border-left: solid 0.2vw #9B9B9B !important;
  }
  .item img {
    width: auto;
    height: 26vw;
    max-width: 100%;
    max-height: 100%;
  }
  .item a {
    display: block;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: 26vw;
  }
  .item a:hover {
    border: none;
  }
  .item_other {
    widht: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item_other :hover {
    font-weight: bold;
    border: solid 0.1vw #000000;
    transition: 1.0s;
  }
  .item_other ul :hover {
    border: none;
  }
  .item_other ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    width: 38vw;
    height: 10vw;
    border: solid 0.1vw #ffffff;
  }
  .item_other img:hover {
    opacity: 0.7;
  }
  .item_other li {
    width: auto;
    height: auto;
  }
  .item_other h2 {
    font-size: 0.9vw;
    margin-top: 2.7vw;
    margin-left: 3vw;
    font-style: normal;
    line-height: 1.75;
  }
  .item_other p {
    font-size: 0.7vw;
    margin-left: 3vw;
    border-left: solid 0.2vw #9B9B9B;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .item_other h2:hover {
    border-left: none;
  }
  .item_other p:hover {
    font-weight: 400;
    border-left: solid 0.2vw #9B9B9B !important;
  }
  .item_other img {
    width: auto;
    height: 10vw;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
  .item_other a {
    display: block;
    width: 38vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    height: 10vw;
  }
  .item_other a:hover {
    border: none;
  }
}
/*ここからpage */
.page {
  margin: 1vw 5vw;
  padding: 1vw 1vw;
}

.youtube {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 36px;
  padding-bottom: 56.25%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /*境界線の打ち消し*/
}
.top-figure img {
  box-sizing: border-box;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.title {
  margin-top: 20px;
}
.title h1 {
  font-size: 1.0rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.title h2 {
  font-size: 1.0rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
}
.title p {
  font-size: 0.7rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
}

.outline {
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.outline ul{
  display: flex;
  justify-content: start;
	
}
.outline h2 {
  margin-top: 1rem;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.0rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
}
.outline h1 {
	 font-size: 0.8rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
}
.outline p {
  width: 360px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.9;
  letter-spacing: 0.1em;
}

.large-figure img {
  padding-top: 150px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.small-figure img {
　margin-top:280px;
  padding-bottom:200px;
  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;
}
.p5-figure {
	text-align: center;
}
.p5-figure li{
	text-align: center;
  width: 100%;
  heigth: 26.1vw;
  margin-top:180px;
list-style: none;
  padding-bottom: 100px;
}
.p5-figure img {


  width: auto;
  height: 26vw;
    max-width: 130%;
  max-height:130%;  
}
.column-figure img {
　　margin-top:280px;
	padding-bottom:200px;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}

	
}
.gd p {
  font-size: 0.7rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
}
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: #ffffff;
}
footer p {
  font-size: 0.9vw;
  padding-top: 100px;
}
/* ここからCVのPAGE*/

.cv_outline h1 {
	
	 font-family: a-otf-midashi-go-mb31-pr6n, sans-serif　, "游ゴシック Medium", "Yu Gothic", 
	    YuGothic, "メイリオ", Meiryo, sans-serif ;

    font-size: 1.8vw;
    line-height: 1.75;
    letter-spacing: 0.2vw;
}
.cv_outline h2 {
	padding-top:30px;
	  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif　, "游ゴシック Medium", "Yu Gothic", 
	    YuGothic, "メイリオ", Meiryo, sans-serif ;
    font-weight: 600;
    font-size: 1.0vw;
    line-height: 1.75;
    letter-spacing: 0.2vw;
}
.cv_outline p {
	padding-top:80px;
  width: 360px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.9;
  letter-spacing: 0.1em;
}
.cv_outline a{
	padding-top:40px;
	font-size: 1.3rem;
  line-height: 1.75;
  letter-spacing: 0.1em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration:underline;
	color: #60c3f7;
	
}
.intro p {
  width: 100%;
  padding-top: 1rem;
  font-style: normal;
  font-size: 0.7rem;
  line-height: 2.5;
  letter-spacing: 0.1em;
}





@media screen and (min-width:600px) and (max-width:950px) {
  /*　for iPad 　*/
  .item_other :hover {
    font-weight: bold;
    border: solid 0.1vw #000000;
    transition: 1.0s;
  }
  .item_other ul :hover {
    border: none;
  }
  .item_other ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    width: auto;
    height: 26vw;
    border: solid 0.1vw #ffffff;
  }
  .item_other img:hover {
    opacity: 0.7;
  }
  .item_other li {
    width: auto;
    height: 27vw;
  }
  .item_other h1 {
    width: 30vw;
    margin-top: 8vw;
    margin-left: 4vw;
    font-family: dnp-shuei-mincho-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6vw;
    line-height: 1.75;
    letter-spacing: 0.2vw;
  }
  .item_other h2 {
    font-size: 1.0vw;
    margin-top: 2.7vw;
    margin-left: 4vw;
    font-style: normal;
    line-height: 1.75;
    border-left: solid 0.2vw #9B9B9B;
  }
  .item_other p {
    font-size: 0.7vw;
    margin-left: 4vw;
    border-left: solid 0.2vw #9B9B9B;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .item_other h2:hover {
    border-left: solid 0.2vw #9B9B9B !important;
  }
  .item_other p:hover {
    font-weight: 400;
    border-left: solid 0.2vw #9B9B9B !important;
  }
  .item_other img {
    width: auto;
    height: 26vw;
    max-width: 100%;
    max-height: 100%;
  }
  .item_other a {
    display: block;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: 26vw;
  }
  .item_other a:hover {
    border: none;
  }
}
@media only screen and (max-width: 599px) {
  /* ここからスマホ向け */
	.content{
	width:80%;
		margin:0 auto;
		
		padding:2em;
	}
  header {
    position: fixed;
    width: 100%;
    height: 66px;
  }
  header h1 {
    padding: 0px;
    font-size: 1.4rem;
  }
  header nav {
    position: absolute;
    right: 0;
  }
  header ul {
    display: flex; 
  }
  #name p {
    width: auto;
    word-wrap: break-word;
  }
  .item {}
  .item ul {
    margin-top: 3vw;
    margin-bottom: 7vw;
    width: 100%;
    border: none;
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    /*height:900px;*/
  }
  .item li {
    width: auto;
    /* width: 100%;*/
    height: auto;
  }
  .item h1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 0px;
    font-family: dnp-shuei-mincho-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    /* line-height: 1.75;*/
    letter-spacing: 0.2vw;
  }
  .item h2 {
    font-size: 0.7rem;
    margin-top: 2.7vw;
    margin-left: 2vw;
    font-style: normal;
    line-height: 1.75;
    border-left: solid 0.2vw #9B9B9B;
  }
  .item p {
    font-size: 0.5rem;
    margin-left: 2vw;
    margin-bottom: 1vw;
    border-left: solid 0.2vw #9B9B9B;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .item img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
  .item a {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: 26vw;
  }
  .item a:hover {
    border: block;
  }
  .item_other {}
  .item_other ul {
    margin-top: 3vw;
    margin-bottom: 7vw;
    width: 100%;
    border: none;
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    /*height:900px;*/
  }
  .item_other li {
    width: auto;
    /* width: 100%;*/
    height: auto;
  }
  .item_other h1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 0px;
    font-family: dnp-shuei-mincho-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
    /* line-height: 1.75;*/
    letter-spacing: 0.2vw;
  }
  .item_other h2 {
    font-size: 0.7rem;
    margin-top: 2.7vw;
    margin-left: 2vw;
	  font-family:  "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-style: normal;
    line-height: 1.75;
    border-left: solid 0.2vw #9B9B9B;
  }
  .item_other p {
    font-size: 0.5rem;
	   font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    margin-left: 2vw;
    margin-bottom: 1vw;
    border-left: solid 0.2vw #9B9B9B;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .item_other img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
  .item_other a {
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    height: 26vw;
  }
  .item_other a:hover {
    border: block;
  }
  /*   ここからベージ　*/
  .page {
    margin: 0px;
    padding: 0 auto;
  }
  .youtube {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 36px;
    padding-bottom: 56.25%;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /*境界線の打ち消し*/
  }
  .title {
    margin-top: 20px;
  }
  .title h2 {
    font-size: 1.0rem;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .title p {
    font-size: 0.7rem;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .outline h1 {
    margin-top: 13px;
    margin-bottom: 0px;
    font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .outline h2 {
    margin-top: 1rem;
    font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.75;
    letter-spacing: 0.1em;
  }
  .outline {
    
    margin: 5vw;
    padding: 3vw;
  }
  .outline p {
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 3rem;
	  font-weight: normal;
    font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
    font-size: 0.9rem;
    line-height: 1.9;
    letter-spacing: 0.1em;
    word-wrap: break-word;
  }
  .large-figure img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
	 .p5-figure img {
     width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .small-figure img {
    width: 100%;
    height: 100%;
	   max-width: 100%;
    max-height: 100%;
    /*max-width: 70%;
  max-height: 100%;*/
  }
  footer {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 50px 0;
    background-color: #ffffff;
  }
  footer p {
    font-size: 0.5rem;
    padding-top: 100px;
  }
  .contentWrapper {
    margin: 0vw;
    padding: 0vw;
  }
}
